@tailwind base;
@tailwind components;
@tailwind utilities;

.source-text > a {
  text-decoration: underline;
  color: #c084fc;
}

.photo-caption > p > a {
  text-decoration: underline;
  color: #c084fc;
}
