@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #252529;
}

.source-text > a {
  text-decoration: underline;
  color: #c084fc;
}

.photo-caption > p > a {
  text-decoration: underline;
  color: #c084fc;
}
